.brand-left{
    width:350px;
    float:left;
}

.brand-left-img{
    padding-top:60px;
    padding-left:100px;
}


.brand-right{
    width:930px;
    float:left;
}

.brand-right-content{
    width:630px;
    float:left;
}
.brand-right-img{
    width:300px;
    float:left;
}

.brand-bottom{
    width:1080px;
    float:right;
}


.brand_qianjinyaomian_content{
    margin-left:100px;
    margin-bottom:20px;
}

.brand_qianjinyaomian_content p{
    color:#666666;
    padding-top: 20px;
}