
.html{
    min-width:1280px;
    max-width:1280px;
    margin: 0 auto;
   
}

div { font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu; }

.main-content .container{ width:1280px;margin: 0 auto;  padding: 0 0 0 0; }


#second_header .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{padding:0 0 0 0;}

.main-content { min-height:425px;}

#first_header {background-color: #0594d8; height: 80px;}

.navbar{margin-bottom:0px;border-radius:0px;}

.navbar-collapse .navbar-nav li a {color:white;font-weight:700;}

.navbar-collapse .navbar-nav .dropdown a {color:white;}

.navbar-collapse .navbar-nav .dropdown-menu li a { text-align: center;color:#444444;}

.navbar-collapse .navbar-nav .dropdown-menu  { min-width: 100px; }

.navbar-collapse .navbar-nav .dropdown-menu  li {
    /*background-color:black;*/
/*    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    opacity:0.8;*/
}
.footer-links{
    list-style:none;
}

.footer-links li {
     margin: 10px 0;
     padding-left: 10px;
     /*float:left;*/
}

.bs-footer{
    color: #777;
    text-align: center;
    padding-top: 35px;
    border-top: 1px solid #E5E5E5;
}

.dashboard-img-row{
    margin: 0 auto;
    height: 150px; 
}

.dashboard-img-ul{
    list-style:none;
    width:100%;height:100%;
    padding-left: 0px;
}

.dashboard-img-ul li{
    list-style:none;
    display:inline-block;
}


.dashboard-back-img{
    background: url(../images/home/banner1.jpg) no-repeat;
    min-height:796px;
    color: #FFFFFF; font-size:14px;font-family:Microsoft YaHei,simsun,Arial,Helvetica,sans-serif;border:0px;
}

.dashboard-item-a{
}

.dashboard-img-ul li{
    padding-right:20px
}

.dashboard-item-img{
    height:260px;
    width:258px;
}

.dashboard-item-img-1{
    background: url(../images/home/home_qianjin.jpg) no-repeat;
}

.dashboard-item-img-2{
    background: url(../images/home/home_yaomian.jpg) no-repeat;
}

.dashboard-item-img-3{
    background: url(../images/home/home_chuanmian.jpg) no-repeat;
}

.dashboard-item-img-4{
    background: url(../images/home/home_yimian.jpg) no-repeat;
}

.dashboard-item-img-5{
    background: url(../images/home/home_jingmian.jpg) no-repeat;
}
.menubox{
    /*padding:0 40px 40px 40px;*/
    width: 200px;
    margin-left: 70px;
}

.menubox_item{
    margin-left:40px;
    width:180px;
}




.menubox .item-header .item-text{
    color:white;display: inline-block;
    margin-top:5px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
   
}

.menubox .item-text{
    color:#0594d8;padding-left: 16px;font-size: 18px;//font-weight: bold;
    text-align: right;
    width:170px;
    margin-left: 70px;
}

.menubox .item-bar{
    width:170px;
    height: 1px;
    background-color:  #cccccc;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 70px;
}

.second_header{
    height:235px;
}
 
.block-title{
    display:none;
}

.menubox_item{
    text-align: center;
}


.menubox_item a{ text-decoration:none; }

.menubox_item a:hover{ text-decoration:none; }

.p_titel{
    font-weight: bold;
    padding-bottom:10px;
    font-size:16px;
}

.header_text {
    color:#ffffff;
    padding:80px 20px 20px 40px;
}

.header_text_ch{
    font-size: 40px;
    font-weight: bold;
}
.header_text_en{
    font-size: 40px;
    font-weight: bold;
}