.news-left-menu{
    width:350px;
    float:left;
}

.news-right-content{
     width:900px;
     float:left;
}

.news-right-content-title{
    font-style: italic;
    line-height:31px;
    color:#0594d8;
}

#news__header_left{
    background: url("../images/newscenter/news_banar.jpg") no-repeat  transparent;
    width:815px;
    height:235px;
    display:inline-block;
    float: left;
}

.news-middle-bar{
    background: url("../images/newscenter/news_type_right.png") no-repeat  transparent;
    width:9px;
    height:233px;
    float:left;
    padding-left:10px;
    padding-right:10px;
    margin-top:80px;
}

.news-serch-box{
    background: url("../images/newscenter/news_search_border.png") no-repeat  transparent;
    margin-left:120px;
    margin-top: 50px;
    width:219px;
    height:135px;
}

.news-serch-box-title{
    margin-left: 30px;
    padding-top: 35px;   
    padding-bottom: 25px;   
}

.news-serch-box-bar{
    display:inline;
}

.news-serch-box-form{
    margin-left: 30px;
}

.news-serch-box-form-btn{
    background-color:green;
    width:50px;
    display:inline;
    padding-left:5px;
    padding-right:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left:10px;
    
 }
 
 .news-serch-box-form-btn a{
     color:#ffffff;
     text-decoration:none;
 }
 
  .news-serch-box-form-btn a:hover{
     color:#ffffff;
     text-decoration:none;
 }
 
 .news_title_down{
    background: url("../images/newscenter/title_down.png") no-repeat  transparent;
    width:821px;
    height:4px;
    margin-bottom: 10px;
 }