.qand-left-menu{
    width:350px;
    float:left;
}

.qanda-right-content{
     width:930px;
     float:left;
     padding-left:70px;
     padding-bottom:30px;
}

#qanda_second_header_left{
    background: url("../images/qanda/QA_barner_l.jpg") no-repeat  transparent;
    width:815px;
    height:235px;
    display:inline-block;
    float: left;
}



.qanda-right-content-header{
    border:1px solid #666666;
    width:610px;
}

.qanda-header{
    padding-left:350px;
}

.qanda-right-content-cl{
    display:inline-table;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 16px;
}

.qanda-right-content-h-1{
    width:100px;
    border-right: 1px solid #666666;
}

.qanda-right-content-h-2{
    width:200px;
    border-right: 1px solid #666666;
}

.qanda-right-content-h-3{
      width:300px;
}

.qanda-right-content-cl-1{
    width:100px;
    vertical-align: middle;
    font-weight: bold;
}

.qanda-right-content-cl-2{
    width:200px;
}

.qanda-right-content-cl-3{
      width:300px;
}

.qanda-question-item{
   
    width:610px;
}

.qanda-question-item-first{
     width:610px;
}

.qanda-right-content-cl-4{
    width:500px;
    text-align: left;
}

.qanda-answer-item{
    background: url("../images/qanda/QA_A_bk.png") no-repeat  transparent;
    background-position:30px 0px;;
    width:610px;
    height:90px;
    display:inline-table;
}

.qanda-right-content-cl a{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.qanda-right-content-cl a:hover{
    text-decoration: none;
}

.qand-qa-item{
     border-bottom: 1px solid #666666;
     width:610px;
}